<div class="ayuda-div text-light m-3">
    <button class="btn btn-primary" (click)="gotoHome()">Volver</button>
    <h1>Centro de Ayuda - Hardware Haven</h1>    
    
    
    <h2>Preguntas Frecuentes (FAQ)</h2>
    <ul>
        <li><strong>¿Cómo puedo realizar un pedido?</strong> 
            <p>Para realizar un pedido, selecciona los productos que deseas, agrégalos al carrito. Sigue los 
            pasos en la página de compra.<br> Una vez realizada la misma tambien podras generar la factura correspondiente, incluso enviartela a tu email.</p>
        </li>
        <li><strong>¿Cuáles son las opciones de envío?</strong> 
            <p>Ofrecemos varias opciones de envío, incluyendo envío estándar, express, y recogida en tienda. Contactanos en ese caso</p>
        </li>
        <li><strong>¿Cómo puedo rastrear mi pedido?</strong> 
            <p>Una vez que tu pedido sea enviado, recibirás un correo electrónico con un número de seguimiento.</p>
        </li>
        <li><strong>¿Puedo devolver un producto?</strong> 
            <p>Sí, puedes devolver los productos dentro de los primeros 30 días si cumplen con nuestra política de devoluciones.</p>
        </li>
    </ul>
    
    <h2>Documentacion</h2>
    <a href="https://github.com/jcaldani/DSW-2024-Hardware-Haven/blob/main/Documentation/Hardware%20Haven.pdf" target="_blank">Documentación oficial</a>

    <h2>Soporte</h2>
    <p>Si no encuentras la respuesta que buscas, puedes contactarnos directamente:</p>
    
    <a href="mailto:ignacio.rodriguez.sistemas@gmail.com" class="btn btn-secondary">Contactar Soporte</a>
    
    <h2 class="mt-2">Repositorio de Código</h2>
    <p>Puedes ver el código fuente de nuestro proyecto en nuestro <a href="https://github.com/Xraidth/HardwareHaven" target="_blank">GitHub</a>.</p>
</div>
