<div class="bg-black">
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand font-Montserrat text-light" href="#">
          <img src="assets/images/title_home.png" class="img-fluid title_home" alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex justify-content-center w-100">
            <div class="w-50">
              <form class="d-flex me-auto" role="search" (submit)="onSearch($event)">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="auxsearchQuery" name="auxsearchQuery">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
            </div>
          </div>
          <div class="ms-auto">
            <app-user-nav [usuario]="usuario"></app-user-nav>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1 class="text-center title-inventario mb-4 mt-3">Inventario</h1>

    <div class="button-container">
      <div class="button-list">
        <button class="button-item" (click)="loadItems('Usuario') "  [ngClass]="{'selected': nowType === 'Usuario'}">Usuarios</button>
        <button class="button-item" (click)="loadItems('Compra')"[ngClass]="{'selected': nowType === 'Compra'}">Compras</button>
        <button class="button-item" (click)="loadItems('LineaCompra')"[ngClass]="{'selected': nowType === 'LineaCompra'}">Líneas de Compra</button>
        <button class="button-item" (click)="loadItems('Componente')"[ngClass]="{'selected': nowType === 'Componente'}">Componentes</button>
        <button class="button-item" (click)="loadItems('Precio')"[ngClass]="{'selected': nowType === 'Precio'}">Precios</button>
        <button class="button-item" (click)="loadItems('Categoria')"[ngClass]="{'selected': nowType === 'Categoria'}">Categorías</button>
      </div>
    </div>

    <div class="float-button">
      <app-plus-button [nowType] = "nowType" (changeEntityEvent)="getplusbuttonChange($event)"></app-plus-button>
    </div>
    
    
    <ng-container [ngSwitch]="nowType">
      <app-usuario *ngSwitchCase="'Usuario'" [searchQuery]="searchQuery"></app-usuario>
      <app-precio *ngSwitchCase="'Precio'" [searchQuery]="searchQuery"></app-precio>
      <app-linea-compra *ngSwitchCase="'LineaCompra'" [searchQuery]="searchQuery"></app-linea-compra>
      <app-compra *ngSwitchCase="'Compra'" [searchQuery]="searchQuery"></app-compra>
      <app-componente *ngSwitchCase="'Componente'" [searchQuery]="searchQuery"></app-componente>
      <app-categoria *ngSwitchCase="'Categoria'" [searchQuery]="searchQuery"></app-categoria>
      <div  *ngSwitchCase="'Cargando'">
        <p>{{carga}}</p>
      </div>
      <p *ngSwitchDefault>Por favor, selecciona un tipo válido.</p>
    </ng-container>
    
    
  </main>
</div>
