
<div>
<div class="head-dashboard">

</div>
<div class="main-dashboard">
    <div class="sidebar">
        <ul>
            <li><a href="#home">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home h-4 w-4"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
              Inicio</a></li>
            <li><a href="#profile">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart h-4 w-4"><circle cx="8" cy="21" r="1"></circle><circle cx="19" cy="21" r="1"></circle><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path></svg>
              Ordenes</a></li>
            <li><a href="#settings">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package h-4 w-4"><path d="m7.5 4.27 9 5.15"></path><path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"></path><path d="m3.3 7 8.7 5 8.7-5"></path><path d="M12 22V12"></path></svg>
              Productos</a></li>
            <li><a href="#notifications">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users h-4 w-4"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Clientes</a></li>
              <li><a href="#notifications">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card h-4 w-4"><rect width="20" height="14" x="2" y="5" rx="2"></rect><line x1="2" x2="22" y1="10" y2="10"></line></svg>
                Pagos</a></li>
            <li><a href="#logout">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bar-chart h-4 w-4"><line x1="12" x2="12" y1="20" y2="10"></line><line x1="18" x2="18" y1="20" y2="4"></line><line x1="6" x2="6" y1="20" y2="16"></line></svg>
              Analisis</a></li>
        </ul>
    </div>

    <div class="main-content">
      <div class="d-flex justify-content-between">
        <h2 class="title-dashboard">Dashboard</h2>
        <div class="flex items-center gap-2 m-3">
          <button class="custom-btn-dowload">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-2">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4">
            </path>
            <polyline points="7 10 12 15 17 10"></polyline>
            <line x1="12" x2="12" y1="15" y2="3">
            </line></svg>Download</button>
            <button class="custom-btn-cal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="m-2">
              <path d="M8 2v4"></path><path d="M16 2v4">
            </path><rect width="18" height="18" x="3" y="4" rx="2"></rect>
              <path d="M3 10h18">
            </path></svg>Mar 28, 2025</button>
          </div>
      </div>
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="btn-pes-vista">Vista</button>
          </li>
          <li class="nav-item">
            <button class="btn-pes-ana">Analisis</button>
          </li>
          <li class="nav-item">
            <button class="btn-pes-rep">Reportes</button>
          </li>
        </ul>
      </div>


      <div class="d-flex justify-content-evenly">
      <app-dashboard-card  [title]="'Total Revenue'"  [reference]="'+20.1% from last month'" [value]="'$45,231.89'" [d]="1"></app-dashboard-card>
      <app-dashboard-card  [title]="'New Orders'"  [reference]="'+12.4% from last month'" [value]="'+573'" [d]="2"></app-dashboard-card>
      <app-dashboard-card  [title]="'New Customers'"  [reference]="'+18.7% from last month'" [value]="'+249'" [d]="3"></app-dashboard-card>
      <app-dashboard-card  [title]="'Active Products'"  [reference]="'+4.3% from last month'" [value]="'1,324'" [d]="4"></app-dashboard-card>
    </div>


<div class="d-flex justify-content-evenly align-items-center">
  <div>
    <app-bar-chart></app-bar-chart>
  </div>

  <div>
    <app-recent-sales-board></app-recent-sales-board>
  </div>
</div>

  <div>
    <app-top-products></app-top-products>
  </div>

    </div>
</div>

</div>
