<div class="custom-contenedor d-flex flex-column justify-content-center align-items-center">
    <table class="styled-table" *ngIf="categorias.length > 0; else noDataTemplate">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of categorias">
          <td *ngFor="let column of columnsLw">{{ specialFiltro(column, item[column]) || '-' }}</td>
          <td>
            <button class="btn btn-light" (click)="editarItem(item)">Editar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="eliminarItem(item)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noDataTemplate>
      <div class="inventarioVacio">
        <p>Inventario vacío</p>
      </div>
    </ng-template>
  </div>