<div class="bg-black">
    <header>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand font-Montserrat text-light" href="productList">
                <img src="assets/images/title_home.png" class="img-fluid title_home" alt="...">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex justify-content-center w-100">
              <div class="w-50">
              <form class="d-flex me-auto" role="search" (submit)="onSearch($event)">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
               </div>
              </div>
              <div class="d-flex justify-content-center align-items-center carrito-div" (click)="pasarAcompra()">
              <img src="assets\images\Carrito.png" width="25" height="25" alt="" title="" class="img-small">
              <span class="ms-1 text-light">
              <p class="carrito-cant">{{carrito.length}}</p>
              </span>
              </div>
                <div>
                    <app-user-nav [usuario]="usuario"></app-user-nav>
                </div>


            </div>
        </div>
    </nav>

    </header>
    <main>
      <div class="d-flex justify-content-center align-items-center text-center">
      <h1 class="text-center title-product mb-4 mt-3">Productos</h1>
      </div>

      <div class="d-flex justify-content-center align-items-center text-center">
        <div class="custom-menu">

          <!-- Menú de categorías -->
          <div class="w-sm-auto mb-2">
            <select class="form-select d-flex align-items-center gap-2" aria-label="Default select example" (change)="onSortChangeMenu($event)">
              <option value="Or" selected>
                &#9776; Menu:
              </option>
              <option *ngFor="let categoria of categorias" [value]="categoria.descripcion">{{categoria.descripcion}}</option>
            </select>
          </div>

          <!-- Menú de orden -->
          <div class="w-sm-auto mb-2">
            <div class="input-group">
              <span class="input-group-text bg-white border-end-0">
                <!-- Icono de ordenar -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                  <path d="M1.5 1.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 .4.8l-4.1 5.5v5.7a.5.5 0 0 1-.8.4l-2-1.5a.5.5 0 0 1-.2-.4V7.3L1.1 1.8a.5.5 0 0 1 .4-.8z"/>
                </svg>
              </span>
              <select class="form-select border-start-0" aria-label="Default select example" (change)="onSortChangeOrden($event)">
                <option value="Or" selected>Ordenar Por:</option>
                <option value="az">Ordenar A/Z</option>
                <option value="za">Ordenar Z/A</option>
                <option value="highPrice">Mayor Precio</option>
                <option value="lowPrice">Menor precio</option>
              </select>
            </div>
          </div>

          <!-- Botón de vaciar carrito -->
          <div class="w-sm-auto mb-2">
            <button (click)="vaciarCarro()" class="btn btn-light d-flex align-items-center gap-2">
              <!-- Icono del carrito -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1a1 1 0 0 0-1 1V2H3.5a.5.5 0 0 0 0 1h.5v10.5A1.5 1.5 0 0 0 5.5 15h5a1.5 1.5 0 0 0 1.5-1.5V3h.5a.5.5 0 0 0 0-1H10.5v-.5a1 1 0 0 0-1-1h-3zm1 1V2h1v.5h-1zm-2 3.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
              </svg>

              Vaciar carrito
            </button>
          </div>

        </div>
      </div>



      <div class="row mt-5 justify-content-center">

        <div *ngIf="products.length > 0; else noProducts" class="row">
          <div class="col-md-4 mb-4" *ngFor="let product of products">
             <app-card [product]="product" (productSelected)="onProductSelected($event)" (productUnSelected)="onProductUnSelected($event)"></app-card>
          </div>
        </div>
        <ng-template #noProducts>
          <p class="text-center">No hay productos disponibles.</p>
        </ng-template>
      </div>

    </main>

<div>
<button class="floating-button-purchase" (click)="pasarAcompra()">
  Comprar
</button>

<div class=" floating-button-shopcar" (click)="pasarAcompra()">
  <img src="assets\images\Carrito.png" width="25" height="25" alt="" title="" class="img-small">
  <span class="ms-1 text-light">
  <p class="carrito-shopcar">{{carrito.length}}</p>
  </span>
  </div>

  <div class="floating-button-trash" (click)="vaciarCarro()">
    <img src="assets\images\Tachito.png" width="25" height="25" alt="" title="" class="img-small">
  </div>

</div>

</div>
