@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.font-Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.title-product{
  color: #bbb9b9;
}
.font-Montserrat {
    font-family: 'Montserrat', sans-serif;
}


header {
    background-color: #01060F;
}

.bg-body-tertiary {
    background-color: transparent !important;
}



  .title_home{
    width: 200px;
}

.carrito-cant {
    background-color: rgb(2, 6, 66);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.custom-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
   margin-right: 50px;


}

@media (max-width: 768px){
  .custom-menu{
    margin-top: 160px;
    margin-right: 0;
    flex-direction: column;
    width: 100%;

    gap:5px;
  }

  .navbar-collapse {
    display: flex !important;  /* Asegura que el contenido se mantenga visible */
    flex-direction: column-reverse !important; /* Alinea los elementos horizontalmente */
    justify-content: center !important;
  }
  .navbar-toggler {
    display: none !important;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
  }

  header{
    width: 100%;
    position:fixed;
    z-index: 10;
  }

}











