.recent-sales-board{
    margin: 10px;
    width: 500px;
    height: 390px;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 10px;
    color: black;
    position: relative;

}

.title-barchart{
  color: black;
  font-weight: 700;
  font-size: 24px;
}
