
<div class="carrito container">
    <div class="row">
        <ul class="list-unstyled d-flex justify-content-evenly align-items-center col-12">
            <li class="fw-bold">Nombre</li>
            <li class="fw-bold">Descripción</li>
            <li class="fw-bold">Categoría</li>
            <li class="fw-bold">Precio</li>
            <li class="fw-bold">Cantidad</li>
            
        </ul>    
    </div>

    <div *ngIf="carrito.length > 0; else noProductsInCarrito" class="row mb-3">
        <div class="row" *ngFor="let product of carrito">
            <app-carrito-card [product]="product" (quantityChange)="onQuantityChange()"></app-carrito-card>
        </div>
    </div>
    
    <ng-template #noProductsInCarrito>
        <p class="text-center bg-success">El "Carrito" está vacío.</p>
    </ng-template>
    
    <hr>
    
    <div *ngIf="mostrarBoton" class="row">
        <div class="col-12 d-flex justify-content-end me-3">
            <p>Total: <span class="fw-bold">{{ total | currency }}</span></p>
        </div>
    </div>
</div>
