.carrito {
    background-color: rgb(4, 0, 24);
    width: 800px;
    height: auto;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
}
.custom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){

  .carrito {

    width: 100% !important;
    height: auto;
    margin: 20px auto;

}
.custom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnas-carrito{
  display:none;
}

}
