<div class="top-products-board">
  <div class="m-3">
    <h4 class="title-barchart">Top Products</h4>
    <p>Best selling products this month</p>
  </div>

  <div class="table-custom-container">
  <table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Product A</td>
            <td>Electronics</td>
            <td>$199.99</td>
            <td class="up">120 ▲</td>

        </tr>
        <tr>
            <td>002</td>
            <td>Product B</td>
            <td>Home</td>
            <td>$89.99</td>
            <td class="down">45 ▼</td>
        </tr>
    </tbody>
</table>
</div>

</div>
