.volver-btn {
  position: absolute;
  width: 60px;
  height: 40px;
  top: 8px;
  left: 8px;
  background-color: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  width: 90vw;
  height: 520px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 2px solid #e0e0e0;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  max-width: 70%;
}

.message-bot {
  background-color: #b2dbf76c;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en los extremos */
  align-items: center; /* Alinea verticalmente */
}

.message-user {
  background-color: #b9d8f5;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en los extremos */
  align-items: center; /* Alinea verticalmente */
}

.message-hour {
  text-align: right;
  margin-left: 10px; /* Espacio entre el texto y la hora */
}

.message-text {
  flex: 1; /* Hace que el texto ocupe todo el espacio disponible */
}


.input-container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 2px solid #e0e0e0;
  border-radius: 10px; /* Cambié esta línea */
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.input-container button {
  padding: 10px;
  background-color: #3553ff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #8d8d8d;
}
